@media only screen and (max-width: 768px) {
    .d-flex{
        display: flex;
        gap: 10px;
        flex-direction: column;
        margin-left: -20px;
    } 
    .d-flex-2{
        display: flex;
        justify-content: space-around;
        margin-left: 250px;
        margin-right: 50px;
        margin-top: -25px;
        margin-bottom: -20px;
        align-items: center;
    }
    
    #egreso-ch{
        margin-top: 15px;
    }
    .titlediv{
        display: none;
    }

    section#invent-form .invent{
        padding: 10%;
        width: 80%;
        margin-left: 0%;
        margin-right: 0%;
       
        padding-top: 50px;   
    }
    section#invent-form .invent  input{
        min-width: 90% !important;
        padding: 15px;
        margin-bottom: 20px;
    }
    section#invent-form .invent > div{
        margin-bottom: 0px;
    }
    button{
        padding: 20px 50px;
        border: none;
        font-weight: 900;
        font-size: 20px;
        width: 100%;
    }
    section#invent-table .table{
        display: flex;
        justify-content: center;
        padding-top: 60px;
        padding: 20px;
        width: 90%;
        margin-left: 0%;
        margin-right: 0%;
        flex-direction: column; 
        
    }
    .table-responsive{
        overflow-x: scroll;
    }
}
    